.ps-home--1 {
  padding-bottom: 30px;
}

.ps-home--1 .ps-section--sellers {
  padding-bottom: 80px;
}

.ps-home--1 .ps-promo {
  padding-bottom: 50px;
}

.ps-home--1 .ps-promo.ps-not-padding {
  margin-left: -15px;
  margin-right: -15px;
}

.ps-home--1 .ps-promo.ps-not-padding .ps-promo__banner {
  border-radius: 0;
}

.ps-home--1 .ps-section--category {
  padding: 30px 0;
}

.ps-home--1 .ps-delivery {
  margin: 30px 0 50px;
}

.ps-home--1 .ps-section--latest {
  margin-bottom: 50px;
}

.ps-home--1 .ps-section--sellers {
  padding: 30px 0 50px;
}

.ps-home--1 .ps-section--deals {
  padding: 30px 0 50px;
}

.ps-home--1 .ps-section--featured {
  padding: 30px 0 50px;
}

.ps-home--1 .ps-section--reviews {
  margin: 30px 0 50px;
  padding: 60px 10px 100px;
}

.ps-home--1 .ps-section--instagram {
  padding: 30px 0 50px;
}

.ps-home--1 .ps-section--newsletter {
  padding: 30px 0 60px;
}

@media (min-width: 768px) {
  .ps-home--1 .ps-promo {
    padding-top: 30px;
  }
  .ps-home--1 .ps-promo.ps-not-padding {
    margin-left: 0;
    margin-right: 0;
  }
  .ps-home--1 .ps-promo.ps-not-padding .ps-promo__banner {
    border-radius: 4px;
  }
}

@media (min-width: 992px) {
  .ps-home--1 .ps-section--reviews {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1280px) {
  .ps-home--1 .ps-section--reviews {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 1350px) {
  .ps-home--1 .ps-section--reviews {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.thumbnail--no-border {
  border: none;
  padding: 0;
  height: auto;
}
.text-uppercase, .initialism {
  text-transform: uppercase;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  display: block;
}
.aboutText{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.6;
    margin: 0 0 20px;
    white-space: normal;
    word-break: initial;
    -ms-word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: initial;
    -ms-hyphens: initial;
    -o-hyphens: initial;
    hyphens: initial;
    margin: 0 0 10px;
}